*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    padding: 10px;
}

.todo-app{
    
}

ul li{
    position: relative;
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;

    width: 40px;
    height: 40px;
    color: #ff0000;
    text-align: center;
}